<%- include('partials/header.ejs') %>

    <body style="background-color: #020812; color:white">
        
        <header> 
        
        <h1> Progamming Languages </h1> 
        
        </header>
        
        <hr class="thickhrCplus">
        
        <nav>
                
            <a href="/">Home</a>
            <a href="/c++"><strong><span style="color:#BA0505">C++</strong></a>
            <a href="/java">Java</a>
            <a href="/python">Python</a>
    
        </nav>
        
        <br /><br />
        
        <main>
            
            <h3>Basic Overview</h3>
            
            <br>
            
            <div id="languageDescription">
                
                <ul>
                    
                <li>C++ compiles directly to a machine's native code, 
                allowing it to be one of the fastest languages 
                in the world, if optimized.</li>
                <li>C++ is an objected oriented language that contains classes unlike it's
                predecessor C, which did not contain classes, but is able to run C programs.</li>
                <li>C++ first made it's appearance in 1985, and was designed by Bjarne Stroustrup, who was
                planning to create an extension of C with more functionalities and simplicity for the user
                while still being functional.</li>
                    
                </ul>
                
                <br />
                
            </div>
            
            <h3>Introduction</h3>
            
            <br>
            
            <div id="languageDescription">
                
                <ul>
                    <li>Many programmer's introduction to C++ begins with the program called "Hello World"
                    the main purpose of this program is to display a message to console that says 
                    "Hello World" and begin to give an understanding of the language to the programmer.
                    </li>
                    
                    <br><br>
                    
                    Here is an example of the code: 
                    
                    <br><br>
                
                <img src="/img/Screen Shot 2020-02-08 at 5.28.31 PM.png"></img>
                    
                    
                </ul>
                
                <br /><br />
                
            </div>
            
            <h3>Datatypes</h3>
            
            <br>
            
            <div id="languageDescription">
            
            <ul>
                
                <li>int: used to store numbers inside variables, but can not store decimal numbers.</li>
                <li>string: used to store text and is essentially a list characters.</li>
                <li>double: used to store decimal values.</li>
                <li>boolean: used to store true and false values inside a variable.</li>
                
            </ul>
            
            <br>
                
            </div>
            
            <br>
            
            <h3>Resources</h3>
            
            <div id="resources">
            
            <a href="http://www.cplusplus.com/info/">C++ Information</a>
            
            </div>
        
        </main>
        
        <hr class="thickhrCplus">
        
        <%- include('partials/footer.ejs')%>
        
            <div class="footerImageC">
                
                <img src="/img/31b2ii8hchi31.png" alt="C++ Logo"/> <!-- could replace image here too-->
                
            </div>
        
        
    </body>

</html>

