<%- include('partials/header.ejs') %>

    <body style="background-color: #020812; color:white">
        
        <header> 
        
        <h1> Progamming Languages </h1> 
        
        </header>
        
        <hr class="thickhrHome">
        
        <nav>
                
            <a href="/"><strong>Home</strong></a>
            <a href="/c-plus">C++</a>
            <a href="/java">Java</a>
            <a href="/python">Python</a>
    
        </nav>
        
        <br /><br />
        
        <main>
            
            <figure id="me">
                <img src="/img/Highest-Paid-Programming-Languages-in-2019.jpg" alt="Picture of Programming Languages"/> <!-- replace picture here-->
            </figure>
            
            <div id="welcomeText">
                
                <p> Thank you for visiting my page!
                </p>
                <p>Here you can explore introductions to different programming languages C++
                Python, and Java.</p>
                
                <br /><br />
                
            </div>
            
        </main>
        
        <hr class="thickhrHome">
        
        <%- include('partials/footer.ejs')%>
            
            <div class="footer-image-home">
                
                <img src="/img/plain-white-background.png" alt="Programming languages Logo"/> 
                
            </div>
        
    </body>

</html>