<%- include('partials/header.ejs') %>

    <body style="background-color: #020812; color:white">
        
        <header> 
        
        <h1> Progamming Languages </h1> 
        
        </header>
        
         <hr class="thickhrPython">
        
        <nav>
                
            <a href="/">Home</a>
            <a href="/c-plus">C++</a>
            <a href="/java">Java</a>
            <a href="/python"><strong><span style="color:#70B6FF">Python</strong></a>
    
        </nav>
        
        <br><br>
        
        <main>
            
            <h3>Basic Overview</h3>
            
            <br>
            
            <div id="languageDescription">
                
                <ul>
                    
                <li>Python is an Objected Oriented language first introduced in 1991, with the goal of emphasizing code
                readibility and simplyfing long to less lines. Even though Python can be seen as easier to learn
                or more simple it is still a powerful language.
                </li>
                <li>There are currently two different versions of Python, which are 
                Python 2 and Python 3.
                </li>
                <li>To run code Python uses a virtual machine and intepreter and runs the script, which is the file with a .py extension. 
                </li>
                    
                </ul>
                
                <br>
                
            </div>
            
            <h3>Introduction</h3>
            
            <br>
            
            <div id="languageDescription">
                
                <ul>
                    <li>In Python Hello World is quick and simple and requires only one line of
                    code to output the statment. This program does not require the user to import 
                    libraries or do any preparation beforehand making it a good starting point for any programmer.
                    </li>
                    
                    <br><br>
                    
                    Here is an example of the code: 
                    
                    <br><br>
                    
                     <img src="/img/Hello_World_Python_Program_PyCharm-1024x445.jpg"></img>
                     
                     <br><br>
                     
                     
                </ul>
                
            </div>
            
            <h2>Advantages and Disadvantages</h2>
            
            <br>
            
            <div id="content">
            
            <table>
                
                <tr id="table-header"> <!--does table rows the same as the other ones but just named header so we could change it individually -->
                    <td><strong>Advantages</strong></td> <!--does table data -->
                    <td><strong>Disadvantages</strong></td>
                </tr>
                
                <tr class ="table-row">
                    <td>Easy to learn</td>
                    <td>Weak in mobile computing</td>
                </tr>
                
                 <tr class ="table-row">
                    <td>Object Oriented</td>
                    <td>Speed Limitations</td>
                </tr>
                
                 <tr class ="table-row">
                    <td>Free and Open Source</td>
                    <td>Design Restrictions</td>
                </tr>
                
            </table>
            
        </div>
        
        <h3>Resources</h3>
        
        <div id="resources">
            
            <a href="https://www.geeksforgeeks.org/python-language-advantages-applications/">Advantages and Applications</a>
            
            <br>
            
            <a href="https://medium.com/@mindfiresolutions.usa/python-7-important-reasons-why-you-should-use-python-5801a98a0d0b">Reasons to use Python</a>
            
        </div>
        
        </main>
        
        <hr class="thickhrPython">
        
        <%- include('partials/footer.ejs')%>
            
            <div class="footerImageC">
                
                <img src="/img/1024px-Python-logo-notext.svg.png" alt="Python Logo"/> <!-- could replace image here too-->
                
            </div>
        
    </body>

</html>